.page-footer__list{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
  }
  
  .page-footer__list-item{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
  }
  .page-footer__icon{
    width: 24px;
  }