.player-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.65);
  transition: transform 0.1s ease-in-out;
}

.player-card:hover {
  transform: scale(1.02);
}

.player-card__number {
  position: absolute;
  top: 12px;
  left: 12px;
  font-size: 24px;
}

.player-card__nationality {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 24px;
}
.player-card__picture {
  width: 100%;
}

.player-card__information {
  padding: 1rem;
  flex-grow: 1;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-evenly;
}
