
.standings {
  display: flex;
  background-color: rgba(0, 0, 0, 0.465);
  flex-grow: 1;
}

.standings-table {
  border-spacing: 0 1px;
  width: 100vw;
  padding: 1rem;
}

.standings__column {
  padding: 1.5rem 0;
}

.standings__cell {
  text-align: center;
  padding: 1rem 0;
}

.standings__row {
  background-color: rgba(0, 0, 0, 0.65);
}

.standings__column--hide-mobile,
.standings__cell--hide-mobile {
  display: table-cell;
}

.standings__column--show-mobile,
.standings__cell--show-mobile {
  display: none;
}

@media screen and (max-width: 875px) {
  .standings__column--hide-mobile,
  .standings__cell--hide-mobile {
    display: none;
  }

  .standings__column--show-mobile,
  .standings__cell--show-mobile {
    display: table-cell;
  }
}
