@import './_page-header.css';
@import './_player-card.css';
@import '_footer.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
  list-style: none;
  font-family: "Flicks", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: url("../assets/images/stadium.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 16px;
  background-color: rgba(0, 0, 0, 0.465);
  padding: 16px;
  flex-grow: 1;
}







