
/* This file contains standardized sizes */
/* this file resetes and sets default values globally */

/* This file contains all the fonts, I've opted to use them locally since using google fonts will make the site breach GDPR */
/* Source:https://thehackernews.com/2022/01/german-court-rules-websites-embedding.html */
/* https://rewis.io/urteile/urteil/lhm-20-01-2022-3-o-1749320/ */
/* LG München, Urteil vom 20.01.2022, Az. 3 O 17493/20 (REWIS RS 2022, 1892)*/

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: Bolder;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: Bold;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../assets/fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #ffffff;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

:root {
  --default: 1rem;
  --xsmall: 0.5rem;
  --small: 0.75rem;
  --medium: 1.5rem;
  --large: 2rem;
  --light-transparent: rgba(0, 0, 0, 0.465);
  --heavy-transparent: rgba(0, 0, 0, 0.65);
}
